<!DOCTYPE html>
<html>
<head>
    <title>Create my "About Me"</title>
    <link rel="stylesheet" type="text/css" href="/website/About creator - CSS.css">
</head>
<body>
    <h1>Create An "About Me" Paragraf</h1>
    <form id="quiz" action="About creator Result.html" method="get" name="quiz">
        <p>What's your<strong id="full">full</strong>name?</p>
        <input type="text" name="question1">
        <p>Are you a male or  a female?</p>
        <input type="radio" name="question2" value="male"> male
        <br>
        <input type="radio" name="question2" value="female"> female
        <br>
        <p>Where do you learn?</p>
        <input type="text" name="question3">
        <br>
        <p>What do you like to do?</p>
        <input type="text" name="question4">
        
        <input type="submit" class="finish" value="finish and make my paragraf">
    </form>
</body>
</html>