<!DOCTYPE html>
<html lang="en">
  <head>
    <!--The Site's Title:-->
    <title>GameStock - Cool Game Facts</title>
    <!--Web Header Icon Link:-->
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/BCK5XL3/Gamer-Stock-logo-On-Web-Site-Top.png">
    <!--font libraries:-->
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Varela+Round&display=swap" rel="stylesheet">
    <!--CSS Links:-->
    <!--for navigation bar:-->
    <link rel="stylesheet" type="text/css" href="/website/NB - CSS.css">
    <!--for current page-->
    <link rel="stylesheet" type="text/css" href="/website/page 6 - CSS.css">
    <!--JS Links:-->
    <!--for animation librarys:-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
  </head>
  <body> 
    <div id="myNav" class="overlay">
        <a class="closebtn" onclick="closeNav()">&times;</a>
        <a class="navlogo"><img src="https://i.ibb.co/30RJPV9/Logo-Makr-59-Gjhh.png" alt="GamerStock - logo"></a>
        <div class="overlay-content">
          <a href="home page - HTML.html">Home</a>
          <div class="dropdown" onclick="ddToggle()">
            <a>My Chosen Games <span id="pointer">▼</span></a>
            <div id="dd" class="dropdown-content">
              <a href="page 2 - HTML.html">Slime Rancher</a>
              <a href="page 3 - HTML.html">Enter The Gungeon</a>
              <a href="page 4 - HTML.html">Terraria</a>
            </div>
          </div>
          <a href="page 5 - HTML.html">Game Gallery</a>
          <a class="active">Cool Game Facts</a>
          <a href="About page - HTML.html">About</a>
        </div>
    </div>
    <div class="nav">
        <span class="logo-contaner"><img src="https://i.ibb.co/30RJPV9/Logo-Makr-59-Gjhh.png" alt="GamerStock - logo"></span>
        <span id="time"></span>
        <span id="disNav" onclick="openNav()">&#9776;</span>
    </div>
    <div class="progress-container">
      <div class="progress-bar"></div>
      <div class="img-contener">
        <img src="https://media.giphy.com/media/lNFHS0m9Ul1FluEX1z/giphy.gif" alt="running man">
      </div>
    </div>
      <div class="row">
        <h1>Some Facts About:</h1>
        <h2>Terraria</h2>
        <ul>
          <li>the last update to the game that will ever happen (1.4 - "Jurney's End") came out in 16/05/2020.</li>
          <li>Trarrai was made by a guy who goes by the name "Red".</li>
          <li>Red made the first vertion of the game by himself, than he and the game became part of the game compeny "Relogic".</li>
          <li>The "Moon lord" boss has no legs, but Red made an item called "The Moon lord's legs" that you can put as a vanity.</li>
        </ul>
        <h2>Minecraft</h2>
        <ul>
          <li>the mobe called "Phanton" spons after 3 days of you not sleeping.</li>
          <li>the "Illiger" mobe can spon close to a villege or an Illiger outpost.</li>
          <li>if you kill an Illiger with a banner on it's head, you'll get the "Bad Omen" dibuph, which makes it so when you enter a villege you'll start a raide of Illigers.</li>
        </ul>
        <h2>Rocket league</h2>
        <ul>
          <li>you can fly by jumping and then boosting while tilting up.</li>
          <li>Rocket league has a "Rocket pass" that gives you items the more you complite out of it.</li>
        </ul>
        <h1>thoes are all the facts for now</h1>
      </div>
      <div class="footer">
        <p>this website is owend by Daniel Orel Moskal © (I'm kidding... it isn't realy copyrighted, I just always wanted to put this copyright sign on, like all the cool websites).</p>
        <p><strong>contact me via mail:</strong> <ins>mokapoop24@gmail.com</ins>.</p>
      </div>
    <!--More JS:-->
    <!--for navigation bar:-->
    <script type="text/javascript" src="/website/NB - JS _ JQuery.js"></script>
    <!--for this Page:-->
    <script type="text/javascript" src="/website/page 6 - JS.js"></script>
  </body>
</html>